//Border colors
$border-color: #E3E3E3;
//Shadow colors
$shadow-color: rgba(76, 76, 76, 0.1);
//Circle colors
$circle-color-normal: #ff694f;
$circle-color-edited: #ff9c06;
$circle-color-removed: #ffcc34;
$circle-color-inactive: #e2e2e2;