@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
	@if $inset {
		-webkit-box-shadow: inset $top $left $blur $color;
		-moz-box-shadow: inset $top $left $blur $color;
		box-shadow: inset $top $left $blur $color;
	} @else {
		-webkit-box-shadow: $top $left $blur $color;
		-moz-box-shadow: $top $left $blur $color;
		box-shadow: $top $left $blur $color;
	}
}
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@font-face {
	font-family: "Relative Bold";
	src: url("..../fonts/Relative-Bold.eot?") format("eot"),
		 url("..../fonts/Relative-Bold.woff2") format("woff2"),
		 url("..../fonts/Relative-Bold.woff") format("woff"),
		 url("..../fonts/Relative-Bold.ttf") format("truetype"),
		 url("..../fonts/Relative-Bold.otf") format("opentype");
}
