
@font-face {
    font-family:"TisaOT";
    src:url("TissaProRegular.woff2") format("woff2"),url("TissaProRegular.woff") format("woff"),url("TissaProRegular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        