/* __________ PARTIALS __________ */
@import "partials/reset";
@import "modules/colors";
@import "modules/mixins";
/* __________ TEXT STYLES __________ */
%paragraph-text-style {
	font-family: "Tissa Pro Regular";
	font-size: 1em;
	color: $text-color-lightgrey;
	line-height: 1.3em;
}

%heading-text-style {
	font-family: "Relative Bold";
	font-size: 3em;
	color: black;
	line-height: 1em;
}
/* __________ GENERAL __________ */
body {
	margin: 0;
	padding: 0;
}

svg {
	display: block;
	position: fixed;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.svg-container {
	display: inline-block;
	position: absolute;
	width: 100%;
}
/* __________ OVERVIEW __________ */

.overview-header {
	position: absolute;
	top: 4em;
	left: 4em;

	&__title {
		@extend %heading-text-style;
	}

	&__p-1 {
		@extend %paragraph-text-style;
		font-size: 1.414em;
		margin-top: 1.618em;
		width: 30em;
	}

	&__p-2 {
		@extend %paragraph-text-style;
		font-size: 1em;
		margin-top: 1.618em;
		width: 30em;
	}
}

%legend-before {
	content: "";
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 0.618em;
	border-radius: 50px;
	position: relative;
	top: 3px;
}

.legend {
	position: absolute;
	left: 4em;
	bottom: 5em;

	&__title {
		font-family: "Relative Medium";
		font-size: 1.618em;
	}

	&__items-container {
		margin-top: 1em;
		float: left;
		@include columns(100px, 3);

	}

		&__item {
			@extend %paragraph-text-style;
			line-height: 2em;

			&-0:before {
			@extend %legend-before;
			background: $circle-color-normal;
			}
			&-1::before {
			@extend %legend-before;
			background: $circle-color-edited;
			}
			&-2::before {
			@extend %legend-before;
			background: $circle-color-removed;
			}
			&-3::before {
			@extend %legend-before;
			background: $circle-color-inactive;
			}
			&-4 {
			margin-left: 6px;

				&::before {
					@extend %legend-before;
					width: 8px;
					height: 8px;
					border: 3px solid black;
				}
			}
			&-5::before {
			@extend %legend-before;
			border: 3px solid black;
			}
		}

}

.tool-tip {
	@extend %paragraph-text-style;
	padding: 16px;
	border: 1px solid $border-color;
	@include border-radius(5px);
	@include box-shadow(0px,4px,10px,$shadow-color);
	background-color: white;
	position: absolute;
	visibility: hidden;
	max-width: 200px;
	font-size: 0.8em;

	//Adds an arrow to the description box
	&::before {
		left: -8px;
		top: 16px;
		content: "";
		height: 14px;
		width: 14px;
		position: absolute;
		transform: rotate(45deg);
		border-left: solid 1px $border-color;
		border-bottom: solid 1px $border-color;
		border-bottom-left-radius: 5px;
		background-color: white;
	}
}
/* __________ TIMELINE __________ */
.line {
	width: 40px;
	height: 0;
	background-image: url("../images/timeline.svg");
	background-size: auto 600px;
	background-position: center top;
	margin: 50vh auto;
	background-repeat: repeat-y;
}

.back-button {
	border: 1px solid $orange-border;
	background-color: $orange;
	background-image: url("../images/sluiten.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 2em;
	width: 40px;
	height: 40px;
	@include border-radius(50%);
	position: fixed;
	right: 5em;
	top: 5em;
	cursor: pointer;
	z-index: 999;
	transition: 1s;

	&:hover {
		box-shadow: 0 6px 10px -5px $orange-shadow;
	}
}

.close-button {
	@extend %button;
	left: 50%;
	transform: translate(-50%, 0);
	width: 15em;
	position: fixed;
	bottom: 4em;
	z-index: 99999;
}
/* __________ TIMELINE HEADING TEXT __________ */
.header {
	position: absolute;
	top: 150px;
	left: 50%;
	transform: translate(-40%, -50%);
	@media (max-width: 1000px) {
		width: 70vw;
		transform: translate(-45%, -50%);
	}
	@media (max-width: 700px) {
		width: 90vw;
		transform: translate(-50%, -50%);
	}

	&__title-p {
		@extend %paragraph-text-style;
		font-size: 0.8em;
		display: block;
		margin-bottom: 0.618em;
	}

	&__title {
		@extend %heading-text-style;
		display: block;
		@media (max-width: 700px) {
			font-size: 2em;
		}
	}

	&__vlogger {
		@extend %paragraph-text-style;
		font-size: 1.2em;
		display: block;
		margin-top: 1em;
	}

	%vlogger-icon {
		content: "";
		display: inline-block;
		width: 17px;
		height: 20px;
		vertical-align: -16%;
		margin-right: 0.618em;
	}

	&__vlogger--tess::before {
		@extend %vlogger-icon;
		background: url("../images/tess.svg");
	}

	&__vlogger--janwillem::before {
		@extend %vlogger-icon;
		background: url("../images/janwillem.svg");
	}
}
/* __________ TIMELINE EVENTS __________ */
.event-container {
	position: absolute;
	max-width: 350px;
	display: flex;
	padding-right: 30px;
	box-sizing: border-box;

	&--explanation {
		@extend .event-container;
	}

	&--end {
		@extend .event-container;
	}
	@media screen and (max-width: 499px) {
		width: 200%;

		&--explanation {
			width: 200%;
		}

		&--end {
			width: 200%;
		}
	}
}

%popup {
	margin-left: 40px;
	transform: translateY(-50%) scale(1);
	transform-origin: left center;
	transition: transform 0.3s;
	transition-timing-function: cubic-bezier(.75,-0.5,0,1.75);
	z-index: 999;
}

%button {
	border: 1px solid $orange-border;
	height: 48px;
	background-color: $orange;
	color: #fff;
	font-family: "Relative Medium";
	font-size: 16px;
	font-weight: 500;
	transition: 1s;
	@include border-radius(5px);
	cursor: pointer;

	@media screen and (max-width: 499px) {
		font-size: 14px;
	}

	&:hover {
		box-shadow: 0 6px 10px -5px $orange-shadow;
	}
}

.popup {
	@extend %popup;
	margin-top: 20px;

	&__time {
		font-family: "Relative Bold";
		font-size: 0.9em;
		margin-bottom: 0.4em;
		color: $text-color-lightgrey;
	}

	&__image {
		background-color: rgba(255,255,255,0.95);
		width: 100%;
		height: 100%;
		z-index: 9999;
		position: fixed;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	&__image-button {
		@extend %button;
		width: 100%;
		margin-top: 1em;

		&:before {
			background: url("../images/foto.svg");
			background-repeat: no-repeat;
			content: "";
			display: inline-block;
			width: 23px;
			height: 20px;
			vertical-align: -25%;
			margin-right: 0.618em;

			@media screen and (max-width: 600px) {
				display: none;
			}
		}
	}

	&__close-button {
		position: fixed;
		right: 2em;
		top: 2em;
		cursor: pointer;
		z-index: 99999;
	}

	&__description {
		@extend %paragraph-text-style;
		flex-shrink: 1;
		height: auto;
		padding: 20px;
		border: 1px solid $border-color;
		@include border-radius(5px);
		@include box-shadow(0px,4px,10px,$shadow-color);
		background-color: white;
		position: relative;
		//Adds an arrow to the description box
		&::before {
			left: -11px;
			top: 50%;
			margin-top: -9px;
			content: "";
			height: 20px;
			width: 20px;
			position: absolute;
			transform: rotate(45deg);
			border-left: solid 1px $border-color;
			border-bottom: solid 1px $border-color;
			border-bottom-left-radius: 5px;
			background-color: white;
		}

		&--explanation {
			@extend .popup__description;

			&::before {
				@extend .popup__description::before;
			}
		}

		&--end {
			@extend .popup__description;

			&:before {
				@extend .popup__description::before;
			}
		}
	}

	&--explanation {
		@extend %popup;
	}

	&--end {
		@extend %popup;
		margin-top: 20px;
	}

	&--hidden {
		transform: translateY(-50%) scale(0);
		transition: transform 0.2s;
		transition-timing-function: linear;
	}
}

.circle {
	flex-shrink: 0;
	height: 40px;
	width: 40px;
	transform-origin: center;
	transform: scale(1);
	border-radius: 50px;
	border: 1px solid $border-color;
	@include box-shadow(0px,4px,10px,$shadow-color);
	background-color: #fff;
	transition-delay: 1s;
	transition: transform 0.5s;
	transition-timing-function: cubic-bezier(.75,-0.5,0,1.75);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 23px;
	box-sizing: border-box;

	&--explanation {
		margin-top: -20px;
		transition-delay: 0.3s;
		transform: scale(0.4);
	}

	&--end {
		transform: scale(0.4);
		transition-delay: 0.3s;
	}

	&--straat {
		background-image: url("../images/straat.svg");
		background-position: center 9px;
	}

	&--plaats {
		background-image: url("../images/omgeving.svg");
	}

	&--overig {
		background-image: url("../images/overig.svg");
		background-position: center 8px;
	}

	&--slachtoffer {
		background-image: url("../images/slachtoffer.svg");
		background-position: center 7px;
	}

	&--verdachte {
		background-image: url("../images/verdachte.svg");
		background-position: center 7px;
	}

	&--beide {
		background-image: url("../images/verdachte.svg");
		background-position: center 7px;
	}

	&--huis {
		background-image: url("../images/huis.svg");
	}

	&--hidden {
		transform: scale(0);
	}
}
