@import "partials/reset";
$background: #fff;

body {
  background-color: $background;
}

.line {
  width: 3px;
  background-color: black;
  margin: 50vh auto;
}

svg {
  display: block;
  position: fixed;
  margin: auto;
  /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}