@import "partials/reset";

.line {
	width: 40px;
	background-image: url("../images/timeline.svg");
	background-size: auto 600px;
	background-position: center top;
	margin: 50vh auto;
}

.back-button {
	position: fixed;
	left: 5em;
	top: 5em;
	z-index: 999;
}

svg {
	display: block;
	position: fixed;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	overflow: hidden;
}

.line {
	&__event {
		position: absolute;
		height: 40px;
		width: 40px;
		transform-origin: center;
		transform: scale(1);
		border-radius: 50px;
		border: 1px solid #E3E3E3;
		background-color: #fff;
		transition: transform 1s;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 23px;

		&--hidden {
			transform: scale(0);
		}

		&--straat {
			background-image: url("../images/straatnaam.svg");
		}

		&--plaats {
			background-image: url("../images/omgeving.svg");
		}

		&--overig {
			background-image: url("../images/overig.svg");
		}

		&--slachtoffer {
			background-image: url("../images/slachtoffer.svg");
		}

		&--verdachte {
			background-image: url("../images/verdachte.svg");
		}

		&--huisnummer {
			background-image: url("../images/huisnummer.svg");
		}
	}
}