/* test */

/* __________ PARTIALS __________ */
@import "partials/reset";
@import "modules/colors";
@import "modules/mixins";
/* __________ TEXT STYLES __________ */
%paragraph-text-style {
	font-family: "Tissa Pro Regular";
	font-size: 1em;
	color: $text-color-lightgrey;
	line-height: 1.3em;
}

%heading-text-style {
	font-family: "Relative Bold";
	font-size: 3em;
	color: black;
	line-height: 1em;
}
/* __________ GENERAL __________ */
body {
	margin: 0;
	padding: 0;

	@media (max-height: 570px) {
		.overview-header__p-1 {
			display: none;
		}
	}
}

svg {
	display: block;
	position: fixed;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.svg-container {
	display: inline-block;
	position: absolute;
	width: 100%;
}
/* __________ OVERVIEW __________ */

.overview-header {
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	padding: 2em;

	&__title {
		@extend %heading-text-style;
	}

	&__p-1 {
		@extend %paragraph-text-style;
		font-size: 1.414em;
		margin-top: 1em;
		max-width: 30em;
	}

	@media (max-width: 600px) {
		padding: 2em;

		&__title {
			font-size: 2em;
		}

		&__p-1 {
			font-size: 1em;
		}
	}

	@media (max-width: 400px) {

		&__title {
			font-size: 1.4em;
		}
	}
}

%legend-before {
	content: "";
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 0.618em;
	border-radius: 50px;
	position: relative;
	top: 3px;
}

.legend {
	position: absolute;
	left: 2em;
	bottom: 2em;

	&--overlay {
		z-index: 999999;
		background-color: white;
		border: 1px solid $border-color;
		box-shadow: 0 4px 20px 0 rgba(76,76,76,0.30);
		@include border-radius(5px);
		right: 2em;
		padding: 2em;
	}

	&--hidden {
		opacity: 0;
		z-index: -1;
	}

	&__title {
		font-family: "Relative Medium";
		font-size: 1.618em;
	}

	&__items-wrap {
		/* background-color: red; */
		margin-right: 30px;
		margin-top: 1em;
	}

	&__items-container {
		float: left;
		display: flex;
		flex-wrap: wrap-reverse;
	}

		&__item {
			@extend %paragraph-text-style;
			line-height: 2em;

			&-0:before {
			@extend %legend-before;
			background: $circle-color-normal;
			}
			&-1::before {
			@extend %legend-before;
			background: $circle-color-edited;
			}
			&-2::before {
			@extend %legend-before;
			background: $circle-color-removed;
			}
			&-3::before {
			@extend %legend-before;
			background: $circle-color-inactive;
			}
			&-4 {
			margin-left: 6px;

				&::before {
					@extend %legend-before;
					width: 8px;
					height: 8px;
					border: 2px solid $text-color-lightgrey;
					margin-right: 14px;
					margin-bottom: 2px;
				}
			}
			&-5::before {
			@extend %legend-before;
			border: 2px solid $text-color-lightgrey;
			margin-bottom: -4px;
			}
		}

}

.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	position: fixed;
	transition: 0.2s;
}

.tool-tip {
	@extend %paragraph-text-style;
	padding: 18px;
	border: 1px solid $border-color;
	@include border-radius(5px);
	@include box-shadow(0px,4px,10px,$shadow-color);
	background-color: white;
	position: absolute;
	display: none;
	max-width: 200px;
	//Adds an arrow to the description box
	&::before {
		left: -8px;
		top: 16px;
		content: "";
		height: 14px;
		width: 14px;
		position: absolute;
		transform: rotate(45deg);
		border-left: solid 1px $border-color;
		border-bottom: solid 1px $border-color;
		border-bottom-left-radius: 5px;
		background-color: white;
	}
}

.legend-button {
	@extend %button;
	position: absolute;
	left: 2em;
	bottom: 2em;

	&--hidden {
		display: none;
	}
}
/* __________ TIMELINE __________ */
.line {
	width: 40px;
	height: 0;
	background-image: url("../images/timeline.svg");
	background-size: auto 600px;
	background-position: center top;
	background-repeat: repeat-y;
}

.back-button {
	border: 1px solid $orange-border;
	background-color: $orange;
	background-image: url("../images/sluiten.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 2em;
	width: 40px;
	height: 40px;
	@include border-radius(50%);
	position: fixed;
	right: 5em;
	top: 5em;
	cursor: pointer;
	z-index: 999;
	transition: 1s;

	&:hover {
		box-shadow: 0 6px 10px -5px $orange-shadow;
	}

	@media (max-width: 600px) {
		top: 2em;
		right: 2em;
	}
}

.legend-close-button {
	border: 1px solid $orange-border;
	background-color: $orange;
	background-image: url("../images/sluiten.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 2em;
	width: 40px;
	height: 40px;
	@include border-radius(50%);
	position: absolute;
	right: 3em;
	top: 3em;
	cursor: pointer;
	z-index: 999;
	transition: opacity 1s;

	&:hover {
		box-shadow: 0 6px 10px -5px $orange-shadow;
	}
}

.close-button {
	@extend %button;
	left: 50%;
	transform: translate(-50%, 0);
	width: 15em;
	position: fixed;
	bottom: 4em;
	z-index: 99999;
}
/* __________ TIMELINE HEADING TEXT __________ */
.header {

	position: absolute;
	padding-top: 2em;
	left: 50%;
	transform: translate(-50%, 0);
	float:left;
	max-width: 50vw;
	width: 100%;

	@media (max-width: 1000px) {
		max-width: 70vw;
	}
	@media (max-width: 600px) {
		padding-top: 2em;
		max-width: 90vw;
	}

	&__title-p {
		@extend %paragraph-text-style;
		font-size: 0.8em;
		display: block;
		margin-bottom: 0.618em;
	}

	&__title {
		@extend %heading-text-style;
		display: block;
		@media (max-width: 600px) {
			font-size: 2em;
		}
	}

	&__vlogger {
		@extend %paragraph-text-style;
		font-size: 1.2em;
		display: block;
		margin-top: 1em;
	}

	%vlogger-icon {
		content: "";
		display: inline-block;
		width: 17px;
		height: 20px;
		vertical-align: -16%;
		margin-right: 0.618em;
	}

	&__vlogger--tess::before {
		@extend %vlogger-icon;
		background: url("../images/tess.svg");
	}

	&__vlogger--janwillem::before {
		@extend %vlogger-icon;
		background: url("../images/janwillem.svg");
	}
}
/* __________ TIMELINE EVENTS __________ */
.event-container {
	position: absolute;
	max-width: 350px;
	display: flex;
	padding-right: 30px;
	box-sizing: border-box;

	&--explanation {
		@extend .event-container;
	}

	&--end {
		@extend .event-container;
	}
	@media screen and (max-width: 499px) {
		width: 200%;

		&--explanation {
			width: 200%;
		}

		&--end {
			width: 200%;
		}
	}
}

%popup {
	margin-left: 40px;
	transform: translateY(-50%) scale(1);
	transform-origin: left center;
	transition: transform 0.3s;
	transition-timing-function: cubic-bezier(.75,-0.5,0,1.75);
	z-index: 999;
}

%button {
	border: 1px solid $orange-border;
	height: 48px;
	background-color: $orange;
	color: #fff;
	font-family: "Relative Medium";
	font-size: 16px;
	font-weight: 500;
	transition: 1s;
	@include border-radius(5px);
	cursor: pointer;
	@media screen and (max-width: 499px) {
		font-size: 14px;
	}

	&:hover {
		box-shadow: 0 6px 10px -5px $orange-shadow;
	}
}

.popup {
	@extend %popup;
	margin-top: 20px;

	&__time {
		font-family: "Relative Bold";
		font-size: 0.9em;
		margin-bottom: 0.4em;
		color: $text-color-lightgrey;
	}

	&__image {
		background-color: rgba(255,255,255,0.95);
		width: 100%;
		height: 100%;
		z-index: 9999;
		position: fixed;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	&__image-button {
		@extend %button;
		width: 100%;
		margin-top: 1em;

		&:before {
			background: url("../images/foto.svg");
			background-repeat: no-repeat;
			content: "";
			display: inline-block;
			width: 23px;
			height: 20px;
			vertical-align: -25%;
			margin-right: 0.618em;
			@media screen and (max-width: 600px) {
				display: none;
			}
		}
	}

	&__close-button {
		position: fixed;
		right: 2em;
		top: 2em;
		cursor: pointer;
		z-index: 99999;
	}

	&__description {
		@extend %paragraph-text-style;
		flex-shrink: 1;
		height: auto;
		padding: 20px;
		border: 1px solid $border-color;
		@include border-radius(5px);
		@include box-shadow(0px,4px,10px,$shadow-color);
		background-color: white;
		position: relative;
		//Adds an arrow to the description box
		&::before {
			left: -11px;
			top: 50%;
			margin-top: -9px;
			content: "";
			height: 20px;
			width: 20px;
			position: absolute;
			transform: rotate(45deg);
			border-left: solid 1px $border-color;
			border-bottom: solid 1px $border-color;
			border-bottom-left-radius: 5px;
			background-color: white;
		}

		&--explanation {
			@extend .popup__description;

			&::before {
				@extend .popup__description::before;
			}
		}

		&--end {
			@extend .popup__description;

			&:before {
				@extend .popup__description::before;
			}
		}
	}

	&--explanation {
		@extend %popup;
	}

	&--end {
		@extend %popup;
		margin-top: 20px;
	}

	&--hidden {
		transform: translateY(-50%) scale(0);
		transition: transform 0.2s;
		transition-timing-function: linear;
	}
}

.circle {
	flex-shrink: 0;
	height: 40px;
	width: 40px;
	transform-origin: center;
	transform: scale(1);
	border-radius: 50px;
	border: 1px solid $border-color;
	@include box-shadow(0px,4px,10px,$shadow-color);
	background-color: #fff;
	transition-delay: 1s;
	transition: transform 0.5s;
	transition-timing-function: cubic-bezier(.75,-0.5,0,1.75);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 23px;
	box-sizing: border-box;

	&--explanation {
		margin-top: -20px;
		transition-delay: 0.3s;
		transform: scale(0.4);
	}

	&--end {
		transform: scale(0.4);
		transition-delay: 0.3s;
	}

	&--straat {
		background-image: url("../images/straat.svg");
		background-position: center 9px;
	}

	&--plaats {
		background-image: url("../images/omgeving.svg");
	}

	&--overig {
		background-image: url("../images/overig.svg");
		background-position: center 8px;
	}

	&--slachtoffer {
		background-image: url("../images/slachtoffer.svg");
		background-position: center 7px;
	}

	&--verdachte {
		background-image: url("../images/verdachte.svg");
		background-position: center 7px;
	}

	&--beide {
		background-image: url("../images/verdachte.svg");
		background-position: center 7px;
	}

	&--huis {
		background-image: url("../images/huis.svg");
	}

	&--hidden {
		transform: scale(0);
	}
}

.intro-button {
	z-index: 222;
}

.intro-container {
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.8);
	position: fixed;
	transition: 0.2s;

	&--hidden {
		opacity: 0;
		z-index: -1;
	}

	&--open {
		opacity: 1;
		z-index: 500;
	}
}

.open-button {
	@extend %button;
	position: absolute;
	right: 2em;
	top: 2em;

	&--hidden {
		display: none;
	}

	@media (max-width: 650px) {
		top: auto;
		bottom: 2em;
	}
}

.box {
	width: 100%;
	max-width: 400px;
	height: 560px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden;
	border: 1px solid $border-color;
	@include border-radius(5px);
	@include box-shadow(0px,4px,10px,$shadow-color);

	.box-header {
		max-width: 100%;
		display: flex;
		padding: 2.5em;

		&__title {
			@extend %heading-text-style;
			@media (max-width: 700px) {
				font-size: 2em;
			}
		}

		&__close-button {
			position: static;
			margin-left: auto;
		}
	}

	.box-container {
		width: 300%;
		height: 20em;
		display: flex;
		transition: transform 0.4s;
		overflow: hidden;

		.box-content {
			width: 100%;
			height: 100%;
			padding: 0 2.5em;
			display: flex;
			overflow: hidden;
			flex-direction: column;

			&__img {
				background-position: center;
				background-repeat: no-repeat;
				background-size: 100%;
				width: 100%;
				height: 11em;
				display: block;
				pointer-events: none;
				cursor: default;
				z-index: 1;
				@include border-radius(10px);
				border: 1px solid $border-color;
			}

			&__desc {
				@extend %paragraph-text-style;
				margin-top: 2em;
				font-size: 18px;
				color: #485253;
			}
		}
	}

	.slider-controls {
		position: absolute;
		right: 2em;
		bottom: 2em;
		display: flex;

		&__next-button {
			@extend %button;
			width: 10em;
		}

		&__prev-button {
			height: 48px;
			font-family: "Relative Medium";
			font-size: 16px;
			font-weight: 500;
			cursor: pointer;
			@media screen and (max-width: 499px) {
				font-size: 14px;
			}
			background-color: #fff;
			color: #485253;
			border: none;
			margin-left: auto;
			margin-right: 15px;
		}
	}
}
