
@font-face {
    font-family:"Relative-Medium";
    src:url("Relative-Medium.woff2") format("woff2"),url("Relative-Medium.woff") format("woff"),url("Relative-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        